
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h4>About us</h4>
<small>We deal in automobiles, please feel free to visit our showroom if you feel like getting a new ride</small>
<hr />
<img src="~/Content/img/p8.jpg" width="30%" >
<img src="~/Content/img/p3.jpg" width="30%">
<img src="~/Content/img/p4.jpg" width="30%">
<img src="~/Content/img/p2.jpg" width="30%">
<img src="~/Content/img/p6.jpg" width="30%">
<img src="~/Content/img/p7.jpg" width="30%">