
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h4>Contact</h4>
<hr />
<div class="card text-center">
    <div class="card-header">
        Feel free to talk to us
    </div>
    <div class="card-body">
        <h5 class="card-title">Kia Motors</h5>
        <p class="card-text">Email us on</p>
        <a href="#" class="btn btn-primary">kia@motors.in</a>
    </div>
    <div class="card-footer text-muted">
       Have a great ride
    </div>
</div>

